<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Tabbars</key>
        <array>
            <dict>
                <key>Custom</key>
                <string>false</string>
                <key>ClassName</key>
                <string>EverydayBillListController</string>
                <key>NormalImg</key>
                <string>tabbarOne_normal</string>
                <key>SelectedImg</key>
                <string>tabbarOne_selected</string>
                <key>Title</key>
                <string>主页</string>
            </dict>
            <dict>
                <key>Custom</key>
                <string>false</string>
                <key>ClassName</key>
                <string>MonthBillListController</string>
                <key>NormalImg</key>
                <string>tabbarTwo_normal</string>
                <key>SelectedImg</key>
                <string>tabbarTwo_selected</string>
                <key>Title</key>
                <string>广场</string>
            </dict>
            <dict>
                <key>Custom</key>
                <string>true</string>
                <key>ClassName</key>
                <string>ViewController</string>
                <key>NormalImg</key>
                <string>tabbarThree_normal</string>
                <key>SelectedImg</key>
                <string>tabbarThree_selected</string>
                <key>Title</key>
                <string>添加</string>
            </dict>
            <dict>
                <key>Custom</key>
                <string>false</string>
                <key>ClassName</key>
                <string>BudgetListController</string>
                <key>NormalImg</key>
                <string>tabbarThree_normal</string>
                <key>SelectedImg</key>
                <string>tabbarThree_selected</string>
                <key>Title</key>
                <string>预算</string>
            </dict>
            <dict>
                <key>Custom</key>
                <string>false</string>
                <key>ClassName</key>
                <string>SettingViewController</string>
                <key>NormalImg</key>
                <string>tabbarThree_normal</string>
                <key>SelectedImg</key>
                <string>tabbarThree_selected</string>
                <key>Title</key>
                <string>设定</string>
            </dict>
        </array>
    </dict>
</plist>


